.site-footer {
    background-color: #333;
    margin-top: 20px;
    padding: 1rem;
    font-size: .875rem;
    color: #fff;
    text-align: center;
}

.site-footer a:visited {
    color: white;
    text-decoration: none;
}