.alignleft {

	/*rtl:ignore*/
	float: left;

	/*rtl:ignore*/
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {

	/*rtl:ignore*/
	float: right;

	/*rtl:ignore*/
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;

	@include center-block;

	margin-bottom: 1.5em;
}

.alignwide,
.alignfull {
	display: block;
	width: 100vw;
	max-width: 100vw;
	margin: 2rem calc(50% - 50vw);
}

.alignwide {
	width: auto;
}

@media only screen and (min-width: 1300px) {
	.alignwide {
		max-width: 1300px;
		margin-left: -150px;
		margin-right: -150px;
	}
}