#masthead {
	background-color: black;
}
.site-title a {
	color: white;
	padding-left: 1rem;
	text-transform: uppercase;
	text-decoration: none;
	font-weight:700;
}
.site-title a:visited {
	color: white;
}
.main-navigation {
	display: block;
	width: 100%;
	position: absolute;
	top: 6.5rem;
	right: 0;
	z-index: 1000;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
	background-color: #111;
}

.main-navigation li {
	position: relative;
}
.main-navigation li a {
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
}

.main-navigation li.current-menu-item > a,
.main-navigation li.current_page_item > a,
.main-navigation li:hover > a,
.main-navigation li.focus > a {
	text-decoration: none;
	text-transform: uppercase;
}

.main-navigation li.current-menu-item svg path,
.main-navigation li.current_page_item svg path,
.main-navigation li:hover > a svg path,
.main-navigation li.focus > a svg path {
	fill: #ffffff;
}

.main-navigation a {
	display: block;
	padding: .75rem 1.25rem;
	text-align: center;
}

.main-navigation a:visited {
	color: white;
}
.main-navigation.toggled ul {
	display: block;
}

.menu-toggle {
	position: absolute;
	top: -3rem;
	right: .5rem;
	z-index: 1100;
	display: block;
	width: 3.75rem;
	padding: 1rem;
	margin: 0;
	border: none;
	background: transparent;
	color: #fff;
}
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: white;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }
  
  .menu-button::before {
    content: '';
    margin-top: -8px;
  }
  
  .menu-button::after {
    content: '';
    margin-top: 8px;
  }
  
@media screen and (min-width: 50em) {
	.menu-toggle {
		display: none;
	}
	
	.main-navigation {
		width: auto;
		position: relative;
		top: 0;
		align-self: center;
		margin-left: auto;
	}

	.main-navigation ul,
	.main-navigation.toggled ul {
		display: flex;
		justify-content: center;
	}

	.main-navigation ul ul {
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		float: left;
		position: absolute;
		top: 100%;
		left: -999em;
		z-index: 99999;
		background-color: #111;
		flex-direction: column;
	}
	
	.main-navigation ul ul a {
		left: -999em;
		top: 0;
		width: 200px;
		text-align: left;
	}

	.main-navigation ul ul li:hover > ul,
	.main-navigation ul ul li.focus > ul {
		left: 100%;
		top: 0;
	}
	
	.main-navigation ul li:hover > ul,
	.main-navigation ul li.focus > ul {
		left: auto;
	}
}