.site {
	max-width: 2200px;
	margin: 0 auto;
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr minmax(0, 1000px) 1fr;
	grid-template-areas:
		"header header header"
		". main ."
		". sidebar ."
		"footer footer footer";
}

.site-header {
	grid-area: header;
}

.site-main {
	grid-area: main;
	overflow: hidden; /* Resolves issue with <pre> elements forcing full width. */
	padding: 0 1rem;
}

.widget-area {
	grid-area: sidebar;
}

.site-footer {
	grid-area: footer;
}

