.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}

@media only screen and (min-width: 768px) {
	.widget-area {
    	display: flex;
    	justify-content: space-between;
		gap: 5px;
	}
	.widget {
		width: 20%;
	}
}